.opacity {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	padding-bottom: 10px;
	padding-top: 5px;
	width: 100%;
	margin-bottom: 2%;
}

.inner-nav {
	background: rgba(0, 0, 0, 0.5);
	min-height: 50px;
	padding-top: 5px;
}

.outer-nav {
	width: 50%;
	margin: 0 auto;
}

.masthead {
	background: rgba(0, 0, 0, 0.5);
	margin-left: -450px;
}

.navbar-inverse {
	background: rgba(0, 0, 0, 0.5);
}

.nav li a {
	color: #fff !important;
}

.navbar-brand {
	color: #fff !important;
}

@media ( max-width : 768px) {
	.opacity {
		margin-top: 42%;
	}
	.navbar-inverse {
		background: #222;
	}
}

.inner p {
	color: #fff;
}

body {
	text-align: justify;
}

.content-default {
	margin-top: 150px;
	margin-bottom: 30px;
}

.image-default {
	max-height: 500px;
}

.alert {
	text-shadow: none;
	margin: 10px 0;
}